.home {
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
}

.search-form {
  max-width: 600px;
  margin: 0 auto 2rem;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.search-input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: white;
  font-size: 1rem;
  box-shadow: 0 0 0 2px #ccc;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px white;
}

.search-button {
  padding: 0.75rem 1.5rem;
  background-color: #426eff;
  color: white;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.2s;
  white-space: nowrap;
}

.search-button:hover {
  background-color: #123552;
}
/* 123552 */

.type-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.type {
  padding: 0.75rem 1.5rem;
  background-color: #426eff;
  color: white;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.2s;
  white-space: nowrap;
  margin-right: 5px;
}

.type:hover {
  background-color: #123552;
}

@media (max-width: 639px) {
  .home {
    padding: 1rem 0;
  }

  .search-form {
    margin-bottom: 1rem;
  }
}


.display-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: white;
}

.popular-movies-container,
.now-airing-container,
.upcoming-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}


