.movie-details {
  color: white;
  display: flex;
  gap: 2rem;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #121212;
}

.movie-details p {
  margin-bottom: 5px;
}

.movie-details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Dark overlay for text readability */
  z-index: 1;
}

.movie-details > * {
  position: relative;
  z-index: 2; /* Ensure content appears above the overlay */
}

.cast-list {
  color: white;
  display: flex;
  overflow-x: auto;
  gap: 2rem;
  padding: 1rem;
}

.cast-title {
  color: white;
  font-size: 1.6rem;
  margin-top: 1.5rem;
}

.cast-card {
  flex-shrink: 0;
  text-align: center;
  color: white;
  background-color: #1e1e1e;
  border-radius: 8px;
}

.cast-card img {
  height: 300px;
  width: 203px;
  object-fit: fit;
}
.title {
  color: white;
  padding-bottom: 20px;
  text-align: center;
}

.year {
  font-weight: normal;
  font-size: 28px;
  opacity: 1;
  margin-left: 6px;
  margin-top: 18px;
}

.content {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 1rem;
  border-radius: 8px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.content p {
  font-size: 20px;
  padding-bottom: 11px;
}

/*button css*/
.favorite-in-card {
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  padding: 0.5rem;
}

.favorite-in-card.active {
  color: #ff4757;
}

.recommendation-title {
  color: white;
  margin-top: 1.2rem;
  font-size: 1.6rem;
}

.recommended-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
}

.buttons {
  display: flex;
  gap: 9px;
}

.trailer-container {
  position: relative;
  width: 100%;
  max-width: 900px;
  aspect-ratio: 16/9;
  margin: 0 auto;
}

.trailer-container iframe {
  border: 0;
}

.scroll-btn {
  margin-top: 150px;;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  transform: translateY(10%);
  width: 32px;
  height: 32px;
  padding: 0;
  display:flex;
  align-items: center;
  justify-content: center;
}

.scroll-btn:hover {
  opacity: 0.8;
  transform: translateY(10%) scale(1.1);
}

.scroll-btn.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.scroll-btn-left {
  left: 0;
}

.scroll-btn-right {
  right: 0;
}
