.movie-details {
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.movie-image {
  height: 580px;
  margin-top: 12px;
  margin-left: 12px;
}

.movie-details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Dark overlay for text readability */
  z-index: 1;
}

.movie-details > * {
  position: relative;
  z-index: 2; /* Ensure content appears above the overlay */
}

.cast-list {
  color: #ccc;
}

.favorite-in-card {
  background-color: rgb(164, 164, 164);
  color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  display: flex;
  margin-bottom: 10px;
}

.favorite-in-card.active {
  background-color: white;
  color: #ff4757;
}

.title {
  text-align: center;
  margin: 0;
  display: flex;
}

.content {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 1rem;
  border-radius: 8px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.year {
  font-weight: normal;
  font-size: 28px;
  margin-left: 6px;
  margin-top: 18px;
}

.buttons {
  display: flex;
  gap: 9px;
}

.trailer-container {
  gap: 20px;
  position: relative;
  width: 100%;
  max-width: 900px;
  aspect-ratio: 16/9;
  margin: 0 auto;
}

.trailer-container iframe {
  border: 0;
}

.cast-scroll-btn{
  margin-top: 150px;
  opacity: 0.8;
  position: absolute;
  z-index: 1;
  transform: translateY(10%);
  width: 32px;
  height: 32px;
  padding: 0;
  display:flex;
  align-items: center;
  justify-content: center;
}

.cast-scroll-btn:hover {
  opacity: 0.8;
  transform: translateY(10%) scale(1.1);
}

.cast-scroll-btn.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.scroll-btn-left {
  left: 0;
}

.scroll-btn-right {
  right: 0;
}

