.movie-details {
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cast-list {
  color: #ccc;
}

.favorite-in-card {
  background-color: rgb(164, 164, 164);
  color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  display: flex;
  margin-bottom: 10px;
}

.favorite-in-card.active {
  background-color: white;
  color: #ff4757;
}

.title {
  text-align: center;
  margin: 0;
  display: flex;
}

.content {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 1rem;
  border-radius: 8px;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  border-radius: 8px;
}

.content > * {
  position: relative;
  z-index: 2;
}

.content p {
  font-size: 20px;
  padding-bottom: 15px;
}
