.providers-section{
  padding-left: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.provider-container {
  display: flex;
  flex-wrap: wrap;
  gap: .7rem;
  
}

.provider-item {
  display: flex;
  flex-direction: row;
}

.provider-item img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 12px;
}

.left-title{
  font-size: 20px;
  margin: 0;
  display: flex;
 padding-bottom: 4px;
}